---
import ScrambleText from './ScrambleText.astro';

const { menus, pathname, type } = Astro.props;
---
{
  menus.map((link, idx) => {
    const isActive = link.isActive(pathname);
    return (
      <li class:list={[{
        'text-[#aaa] hover:text-[#333] dark:hover:text-[#eee]': !isActive,
        'text-[#333] dark:text-[#eee] menu-active': isActive,
      }]}>
        <a
          href={isActive ? 'javascript:null' : link.href}
          class:list={[
            type === 'small'
              ? "text-xl"
              : "md:text-md lg:text-lg md:px-2 lg:px-3",
            {
              'hover:bg-[unset]': isActive,
            }
          ]}
          astro-prefetch="true"
        >
          {link.icon && <span
            class:list={[
              link.icon,
              {
                'max-lg:hidden': type !== 'small',
              }
            ]}
          />}
          {link.hasAnimate ? <ScrambleText text={link.label}/> : link.label}
        </a>
      </li>
    )
  })
}
